@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/7cHpv4kjgoGqM7E_DMs8.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/7cHqv4kjgoGqM7E3t-4s51op.ttf) format('truetype');
}
